body {
  font-family: "Open Sans", "sans-serif";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* start landing page */

.portfolio-sida {
  min-height: 80vh;
  padding: 0;
  margin: 0;
  background-image: url(images2/01.jpg);
  background-size: 100% auto;
  position: relative;
  background-repeat: no-repeat;
  z-index: 2;
}

.portfolio-sida .overlay {
  background-color: rgba(0, 0, 0, 0.671);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.header-area {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 10px;
}
/* start logo */
.header-area .logo {
  margin-top: 30px;
  padding: 0px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 15px;
  color: beige;
  display: inline-block;
}
.header-area .logo span {
  padding: 35px;
}
/* End logo */
.header-area .container {
  width: 88%;
  text-align: right;
  margin-top: 10px;
  position: relative;
  z-index: 1000;
}
.header-area .links {
  list-style: none;
  padding-left: 50px;
}
.header-area .links li {
  display: inline-block;
  width: fit-content;
  margin-left: 20px;
}
.header-area .links li a {
  color: beige;
  text-decoration: none;
  transition: 0.1s;
}

.header-area .links li a:hover {
  color: rgb(235, 235, 21);
}
.header-area .menu{
  display: none;
  /* position: relative; */
}

.introduction-text {
  color: beige;
  z-index: 2;
  position: absolute;
  padding-top: 50px;
  transform: translate(-50%, -20%);
  left: 50%;
  text-align: center;
  width: 95%;
}
.introduction-text span {
  color: rgb(235, 235, 21);
}
.introduction-text h1 {
  text-transform: uppercase;
  font-size: 40px;
  padding-top: 100px;
}
.introduction-text p {
  font-size: 20px;
  line-height: 1.6em;
  display: none;
}
label #btn, label #cancel, #check{
  display:none;
}
/* Start features */
.features {
  padding: 25px 0;
  overflow: hidden;
  line-height: 1em;
}
.features .box {
  width: 20%;
  float: left;
  padding: 0;
  margin-top: 0;
  text-align: center;
}
.features .box:first-child {
  margin-left: 120px;
}
.features .box i {
  color: rgb(235, 235, 21);
  border: 2px solid #ccc;
  border-width: 12px;
  border-radius: 100%;
  background-color: #ccc;
}
.features .box h3 {
  text-transform: uppercase;
  font-size: 12px;
  padding: 0px;
  margin: 5px;
}
.features .box p {
  font-size: 10px;
  padding: 0px;
  margin: 0;
}
.features .box i:hover {
  background-color: rgb(235, 235, 21);
  border-color: rgb(235, 235, 21);
  color: #ccc;
}
/* End features */

/* mobile version */

@media (max-width: 991px) {
  .portfolio-sida {
    background-size: cover;
    background-position: bottom;
  }
  .introduction-text p {
    margin: 20px;
    font-size: 12px;
    line-height: 1.6;
  }
  .introduction-text h1 {
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  /* start logo */
  .header-area .logo {
    font-size: 13px;
    width: 100%;
    margin-top: 40px;
    padding-left: 20px;
    border-left-width: 20px;
  }
  .header-area .logo span {
    margin: 0;
    padding-left: 25px;
    z-index: 2;
  }
  /* End logo */

  /* Start features */
  .features .box {
    width: 22%;
    float: left;
    padding: 0;
    margin-top: 0;
    text-align: center;
  }
  .features .box i {
    color: rgb(235, 235, 21);
    border: 2px solid #ccc;
    border-width: 8px;
    border-radius: 100%;
    background-color: #ccc;
  }
  .features .box h3 {
    text-transform: uppercase;
    font-size: 8px;
    line-height: 10px;
    margin:8px;
  }
  .features .box p {
    font-size: 8px;
    line-height: 0px;
  }
  .features .box i:hover {
    background-color: rgb(235, 235, 21);
    border-color: rgb(235, 235, 21);
    color: #ccc;
  }
  .features .box:first-child {
    margin-left: 20px;
  }
  /* end features */
  .header-area .links {
  position: fixed;
    top: 40px;
    right: 0px ;
    background-color: #262626;
    width: 80px;
    height: 35%;
    transition: 0.3s;
    transition: all .5s ease;
    border-radius: 19px 0px 0px 15px;
}
.header-area .links li a{
display:block;
height: 100%;
line-height: 45px;
font-size: 15px;
color: beige;
padding-left: 40px;
transform: translate(-55%, 0%);
box-sizing: border-box;
border-width: 100%;
border-bottom: 1px solid rgb(255, 255, 255,.1);
border-bottom: 1px solid black;
transition: .4s;
padding-top: 12px;
}

.links li:hover a {
  padding-left:50px;
}
#check{
  display: none;
}
label #btn, label #cancel{
  display: inline;
  position:absolute;
  cursor:pointer;
  background-color:#042331;
  border-radius: 3px;
}
label #btn{
    left:20px;
    top:38px;
    font-size: 20px;
    color:beige;
    padding: 5px 9px;
}

label #cansel{
  z-index:1111;
  right:195px;
  top:17px;
  font-size: 30px;
  color:beige;
  padding: 4px 9px;

}
#check:checked ~ .sidebar{
right:0px;
}
#check:checked ~ label #btn{
right:0px;
}

/*===== NAV =====*/
nav{
  top: 0;
  background-color: rgb(129, 71, 4);
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul{
  float: right;
}

nav li{
  display: inline-block;
  margin: 0 var(--mb-2);
  
}

nav a{
  font-size: 1rem;
  color: rgb(59, 185, 1);
  text-transform: uppercase;
  margin-right: var(--mb-);

}

label.nav__logo{
  font-size: 35px;
  font-weight: bold;
  color: yellow;
  padding: 0 2rem;
  line-height: 5rem;
}

a:hover{
  transition: .5s;
  color: red;
}

nav .nav__toggle{
  color: yellow;
  font-size: 40px;
  cursor: pointer;
  display: none;
  position: absolute;
  
}


@media screen and (max-width:768px) {
  label.nav__logo{
    font-size: 2rem;
    padding-left: 3rem;
  }
  nav ul{
    margin-right: 2rem;
  }
  nav a{
    font-size: 20px;
  }
}

@media screen and (max-width:480px) {
  nav .nav__toggle{
    display: block;  
    position: fixed;
    z-index: var(2000);
    top: 0;
    left: .5rem;
    
  }
  nav li{
    display: block;
    color: rgb(78, 13, 13);
    margin: 50px 0;
    line-height: 30px;
  }
  nav a{
    font-size: 20px;
  }
  a:hover{
    border: none;
    color: rgba(200, 97, 0, 0.911);
  }
  nav ul{
    position: fixed;
    z-index: var(--z-fixed);
    left: -100%;
    text-align: center;
    width: 100%;
    top: 8rem;
    background-color: rgb(18, 77, 18);
    opacity: 0.8;
    transition: all 0.5s;
  }
  nav ul.show{
    left: 0;
  }
}