body {
  padding: 0rem;
  margin: 0rem;
  position: relative;
  background-size: 100% auto;
  background-image: url(../bilder/index-images/josada001.jpg);
  background-repeat: no-repeat;
}
.container {
  margin: 0;
  padding: 0;
  height: 40vw;
  width: 30vw;
  position: relative;
  bottom: 2rem;
}

.header {
  position: relative;
  left: 40vw;
  top: 2rem;
  background: none;
  padding-top: 0rem;
  margin-top: 0rem;
}
h1 {
  position: relative;
  color: beige;
  font-size: 2.2em;
  color: whitesmoke;
  font-weight: bold;
  font-family: "Caveat", cursive;
}
.list {
  position: relative;
  bottom: 10rem;
  left: 23rem;
  width: 21vw;
  height: 9vw;
  background: none;
  font-size: 1.6em;
  padding: 0rem;
  margin: 0rem;
  line-height: 1.6em;
  color: whitesmoke;
  font-family: "Caveat", cursive;
  display: none;
}

.image {
  position: relative;
  top: 3rem;
  left: 4rem;
  width: 15vw;
  height: 15vw;
  background-image: url("../bilder/index-images/largg.jpg");
  background-size: cover;
  border-radius: 2rem;
}
.paragraph {
  height: 14vw;
  width: 50vw;
  background: none;
  position: relative;
  transform: translate(1%, -20%);
  display: none;
}

#lorem {
  text-align: center;
  color: whitesmoke;
  margin: 0;
  padding: 0rem;
  font-size: 1.6em;
  line-height: 1.3em;
  font-family: "Caveat", cursive;
}

/* start skills */
.skills {
  background: none;
  width: 40vw;
  height: 35vw;
  position: relative;
  left: 57vw;
  bottom: 35em;
  display: none;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  text-decoration-line: underline;
  text-align: center;
  margin-bottom: 2rem;
  color: whitesmoke;
  font-family: "Caveat", cursive;
}

h1:hover,
h2:hover {
  color: chocolate;
}
.skills .skill-box {
  background-color: rgba(214, 197, 197, 0.301);
  display: flex;
  padding: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
  line-height: 1.3rem;
}
.skills .skill-name {
  font-weight: bold;
  width: 9vw;
  text-align: center;
  color: rgb(20, 19, 19);
}
.skills .skill-progress {
  height: 1.5vw;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}
.skill-progress span {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #f00;
  transition: all 0.5s;
  text-align: center;
  font-weight: bold;
}
.progress-yellowgreen span {
  background-color: yellowgreen;
}
.progress-blue span {
  background-color: blue;
}
.progress-orchid span {
  background-color: orchid;
}

/* end skills */

@media (max-width: 991px) {
  body {
    background-size: cover;
  }
  .container {
    height: 100%;
  }
  h1 {
    right: 4rem;
    color: whitesmoke;
    font-size: 1.8em;
    width: 11rem;
  }
  .list {
    bottom: 5rem;
    left: 11rem;
    width: 10rem;
    height: auto;
  }
  .list-text {
    font-size: 0.7em;
    font-weight: bold;
    line-height: 1.6em;
    padding-left: 1.5rem;
  }
  .image {
    position: relative;
    top: 2em;
    left: 1.6rem;
    width: 38vw;
    height: 30vw;
  }
  .paragraph {
    height: 35vw;
    width: 90vw;
    background: none;
    overflow: hidden;
    border: none;
    position: relative;
    transform: translate(6%, -50%);
  }
  #lorem {
    text-align: center;
    margin: 0;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: bold;
    color: whitesmoke;
  }
  /* start skills */

  .skills {
    width: 90vw;
    height: 80vw;
    position: relative;
    left: 1rem;
    bottom: 5rem;
    border-radius: 3rem;
    display: none;
  }
  .skills h2 {
    font-weight: bold;
    font-size: 1.4em;
    text-decoration-line: underline;
    text-align: center;
    margin-bottom: 2rem;
    color: whitesmoke;
    position: relative;
  }
  .skills .skill-box {
    background-color: #eee;
    display: flex;
    padding: 0.5rem;
    margin: 0rem 0.5rem 1.3rem 1rem;
  }
  .skills .skill-name {
    font-weight: bold;
    font-size: 0.8em;
    width: 10vw;
    text-align: center;
    padding-right: 1rem;
    color: black;
  }
  .skills .skill-progress {
    height: 1.2rem;
    width: 100%;
    background-color: rgba(141, 137, 137, 0.37);
    border-radius: 0.2rem;
    position: relative;
    overflow: hidden;
  }
  .skill-progress span {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #f00;
    transition: all 0.5s;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
  }
  .progress-yellowgreen span {
    background-color: yellowgreen;
  }
  .progress-blue span {
    background-color: blue;
  }
  .progress-orchid span {
    background-color: orchid;
  }

  /* end skills */
}
