/*===================================
-- Emma styles--
===================================*/

:root{
    --clr-light: #d6f1ef;
    --clr-dark: #041f1d;
    --clr-accent: #39cfc3;
    --ff-main: 'Source Sans Pro', sans-serif;
    --ff-second: 'Pacifico', cursive;
  
    
}

*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
}

body{
    color: var(--clr-light)
}

/*===================================
-- yttre grid för innehållet--
===================================*/

.outer-grid{
    display: grid;
    background-image: url(../bilder/profil/code.jpg);
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-areas:
        "profile"
        "info"
        "skills";
}

/*===================================
-- inre grid för bild och lista--
===================================*/

.emma-profile{
    display:grid;
    width: 100%;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-area: profile;

    
}

.emma-img{
    border: 2px solid var(--clr-accent);
    position: relative;
    padding: 0.5em;
    margin-left: 1em;
    margin-top: 1em;
}
.emma-contact{
    align-self: center;
    font-weight: bold;
    font-size: 1.8rem;
    font-family: var(--ff-main);
    margin-left: 0.5rem;
    list-style: inside;
    padding-right: 1.6rem;
}

/*===================================
-- info --
===================================*/

.emma-about{
    font-family: var(--ff-main);
    font-size: 1rem; 
    padding: 0.5rem;
    margin-bottom: 2rem;
    grid-area: info;
    
}

/*===================================
-- skills --
===================================*/

.emma-skills{
    width: 100%;
    margin-left: 1rem;
}

.skill {
    width: 90%;
    height: auto;
    align-self: top;
    margin: 2rem;
    grid-area: skills;
}

.skill p {
    text-align: left;
    color: white;
    width: 100px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.3);

}

.html {
    width: 85%;
    background-color: #04AA6D;
}

.css {
    width: 90%;
    background-color: #2196F3;
}

.js {
    width: 50%;
    background-color: #f44336;
}

.sql {
    width: 40%;
    background-color: #b1acac;
}

.java {
    width: 75%;
    background-color: #e2ee3e;
}

/*===================================
-- breakpoints för större skärmar--
===================================*/

@media screen and (min-width:768px){
    .outer-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "profile skills"
        "info skills";
    }
    .emma-profile{
        grid-template-columns:;
    }
    .emma-img{
        margin-left: 2rem;
        margin-top: 2rem;
    }
    .emma-contact{
        margin-left: 2rem
    }
    .emma-about{
        margin:2rem;
        margin-bottom: 15rem;
    }
    
    .emma-skills{
        margin-left: 2rem;
        margin-top: 5rem;
    }

}

@media screen and (min-width:1440px){
    .outer-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.3fr 0.5fr;
        margin: 0 10% 0 10%; 
        grid-template-areas:
        "profile skills"
        "info skills";
    }
    .emma-profile{
        grid-template-columns: 1fr;
        
    }
    .skills{
        margin-left: 2rem;
    }
}
